<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="VideoProcessor">
    <meta name="author" content="Dennis Fleurbaaij">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap & extensions -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap/5.0.2/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-dark/1.0.2/bootstrap-night.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/static/images/favicons/favicon_180x180.png" sizes="180x180">
    <link rel="icon" href="/static/images/favicons/favicon_16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="/static/images/favicons/favicon_32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/static/images/favicons/icon.ico">
  </head>
  <body>

    {% block header %}
    <header>
      <div class="container py-3">
        <header>
          <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-white text-decoration-none">
                <img src="/static/images/logo_50.png" />&nbsp;
                <img src="/static/images/name_32.png" />
            </a>
      
            <!-- <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
              <a class="me-3 py-2 text-white text-decoration-none" href="https://github.com/defl/videoprocessor">Code</a>
            </nav> -->
          </div>
        </header>
      </div>      
    </header>
    {% endblock %}

    {% block main %}{% endblock %}

    <!-- Footer -->
    <div class="container py-3">
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-md">
            <h5>VideoProcessor</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://github.com/defl/videoprocessor/releases">Download</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://github.com/defl/videoprocessor">Source code</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://github.com/defl/videoprocessor/blob/main/LICENSE.txt">License</a></li>
            </ul>
          </div>
          <div class="col-md">
            <h5>Contact</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="mailto:mail@dennisfleurbaaij.com">E-mail</a></li>
            </ul>
          </div>
          <div class="col-md">
            <h5>Site map</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="/">Main</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="/getting_started">Getting started guide</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="/commercial_video_processors">Commercial video processors</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="/faq">FAQ</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="/manual">Manual</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="/debugging">Debugging</a></li>
            </ul>
          </div>
        </div>

      </footer>
    </div>

    <script src="/static/js/bootstrap/5.0.2/bootstrap.bundle.js"></script>
    {% block body_end %}{% endblock %}
  </body>
</html>
