{% extends "base.html" %}

{% block title %}VideoProcessor{% endblock %}

{% block header %}{% endblock %}

{% block main %}
<main>
    <div class="container col-xxl-10 px-4 py-5">
        <div class="row flex-lg-row align-items-top">
            <div class="col-8 col-sm-8 col-lg-6">
            <img src="/static/images/logo_3d_background_400.png" class="d-block mx-lg-auto img-fluid" alt="logo 3d" loading="lazy">
            </div>
            <div class="col-lg-6">
                <p class="lead">
                    <i>VideoProcessor</i> turns a computer into a 4k HDR capable live video processor by connecting a video capture 
                    card to a renderer and taking care of details such as conversion, timing and HDR metadata.
                </p>
                <p class="lead">
                    This allows advanced renderers to do things like 3D LUT, HDR tone mapping, scaling, deinterlacing and much more which 
                    can significantly improve image quality on most displays and beamers.
                </p>
                <p class="text-muted">
                    <i>
                        Capture cards cannot capture HDCP protected data, VideoProcessor can only process what can be captured.
                    </i>
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a id='download-button' href="https://github.com/defl/videoprocessor/releases" class="btn btn-primary btn-lg px-4 me-md-2" role="button">Download</a>
                    <a href="/getting_started" class="btn btn-secondary btn-lg px-4 me-md-2" role="button">Getting started</a>
                </div>
            </div>
        </div>
    </div>     

    <div class="px-4 my-5 text-center">
        <h1 class="display-4 fw-bold">What does it look like?</h1>
        <div class="col-lg-8 mx-auto">
            <p class="lead mb-4">
                The GUI is packed with information and options to give you full insight and control over what is going on.
                There is no need to know all the details or dig through the <a class="text-white" href="/manual">manual</a>, 
                VideoProcessor will do reasonable things by default.
                There's also a <a class="text-white" href="https://www.youtube.com/watch?v=DQK4iO81TLE">YouTube video</a> showing it in action including the difference a 3DLUT makes.
            </p>
        </div>
        <div class="overflow-hidden">
            <div class="container px-5">
                <a href="/static/images/screenshot.png">
                    <img src="/static/images/screenshot.png" class="img-fluid border rounded-3" alt="Screenshot">
                </a>
            </div>
        </div>
    </div>

    <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-4 fw-bold">How does it work?</h1>
        <div class="col-lg-8 mx-auto">
            <p class="lead mb-4">
                You will need a Windows computer with a capture card and a video card.
                VideoProcessor will take video from your capture card, adjust, delay and processes them as 
                required and then push them through a renderer and out of the video card.
            </p>
        </div>
        <div class="overflow-hidden">
            <div class="container px-5">
                <img src="/static/images/vp_system_flow.png" class="img-fluid rounded-3" alt="Video processor system flow">
            </div>
        </div>
    </div>

    <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-4 fw-bold">Can it work inside my current install?</h1>
        <div class="col-lg-8 mx-auto">
            <p class="lead mb-4">
                A VideoProcessor does not live alone, it's part of a bigger AV install with problably multiple sources (players) and one or more sinks (displays).
                Below is a simple setup, and the part you add by installing VP is in the dotted section.
                If you want something more fancy check out the <a class="text-white" href="/install">install guide</a>.
            </p>
        </div>
        <div class="overflow-hidden">
            <div class="container px-5">
                <img src="/static/images/vp_install_simplified.png" class="img-fluid rounded-3" alt="AV install">
            </div>
        </div>
    </div>

    <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-4 fw-bold">Limitations</h1>
        <div class="col-lg-8 mx-auto">
            <p class="lead mb-4">
                VideoProcessor is not an off-the-shelf applicance, you'll need to buy and connect a capture card, install drivers and play a bit with Windows and renderers; there will be some tinkering involved.
                Capture cards cannot capture <a class="text-white" href="https://en.wikipedia.org/wiki/High-bandwidth_Digital_Content_Protection">HDCP</a> protected data, VideoProcessor can only process what can be captured.
                If any of this is a blocker, you're better off looking at <a class="text-white" href="/commercial_video_processors">commercial video processors</a>.<br />
            </p>
            <p class="lead mb-4">
                Interested? Ready to DIY? Allright! Click the button to continue.
            </p>
            <a href="/getting_started" class="btn btn-primary btn-lg px-4 me-md-2" role="button">Getting started guide</a>
        </div>
    </div>

</main>
{% endblock %}

{% block body_end %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script language="javascript" type="text/javascript">  

        $(document).ready(function () {
             GetLatestReleaseInfo();  
        });
        
        function GetLatestReleaseInfo() {
           $.getJSON("https://api.github.com/repos/defl/videoprocessor/releases/latest").done(function (json) {
                $("#download-button").attr("href", json.html_url);  
                $("#download-button").text("Download " + json.tag_name);
           });    
        }
    </script>
{% endblock %}
